/*
 *  Basket for iPhone
 *  by Matt Donnelly
 */

/* ---------------- BEGIN MAIN CSS ---------------- */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: contentFadeIn 1.5s linear 1;
       -moz-animation: contentFadeIn 1.5s linear 1;
         -o-animation: contentFadeIn 1.5s linear 1;
            animation: contentFadeIn 1.5s linear 1;
}

h1 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 2;
}

p {
    color: #4a4a4a;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.3;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    display: block;
    clear: both;
    margin: 40px auto 40px;
    width: 420px;
    height: 85px;
    background: url(../images/logo.png) 0 0 no-repeat;
}

.content {
    display: block;
    margin-bottom: 50px;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.left, .right {
    margin-top: 150px;
    width: 302px;
    height: 525px;
}

.middle {
    width: 387px;
}

.feature {
    display: block;
    clear: both;
    height: 50%;
}

.left .feature {
    padding-right: 10px;
}

.right .feature {
    padding-left: 20px;
}

.iphone {
    display: block;
    margin: 0 auto;
    width: 387px;
    height: 803px;
    background: url(../images/iphone.jpg) 0 0 no-repeat;
}

.slideshow {
    position: relative;
    top: 116px;
    left: 34px;
    height: 568px;
    width: 320px;
    background-color: #ffffff;
}

.slideshow img {
    position:absolute;
    top: 0;
    left: 0;
    -webkit-animation: slideshowFade 24s ease-in-out infinite;
       -moz-animation: slideshowFade 24s ease-in-out infinite;
         -o-animation: slideshowFade 24s ease-in-out infinite;
            animation: slideshowFade 24s ease-in-out infinite;
}

.slideshow img:nth-of-type(1) {
    -webkit-animation-delay: 20s;
       -moz-animation-delay: 20s;
         -o-animation-delay: 20s;
            animation-delay: 20s;
}

.slideshow img:nth-of-type(2) {
    -webkit-animation-delay: 16s;
       -moz-animation-delay: 16s;
         -o-animation-delay: 16s;
            animation-delay: 16s;
}

.slideshow img:nth-of-type(3) {
    -webkit-animation-delay: 12s;
       -moz-animation-delay: 12s;
         -o-animation-delay: 12s;
            animation-delay: 12s;
}

.slideshow img:nth-of-type(4) {
    -webkit-animation-delay: 8s;
       -moz-animation-delay: 8s;
         -o-animation-delay: 8s;
            animation-delay: 8s;
}

.slideshow img:nth-of-type(5) {
    -webkit-animation-delay: 4s;
       -moz-animation-delay: 4s;
         -o-animation-delay: 4s;
            animation-delay: 4s;
}

.slideshow img:nth-of-type(6) {
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
}

.much-more {
    margin-bottom: 50px;
    color: #4a4a4a;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

.app_store_button {
    width: 267px;
    height: 92px;
    margin: 0 auto 60px;
    background: url(../images/app_store_button.png) 0 0 no-repeat;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property: -moz-transform;
         -o-transition-property: -o-transform;
            transition-property: transform;
}

.app_store_button:active {
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
}

footer {
    padding-top: 30px;
    height: 70px;
    border-top: 1px solid #dadada;
}

.copyright {
    color: #bababa;
}

/* ----------------- BEIGN RETINA ----------------- */

@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
    .logo {
        background-size: 420px 85px;
        background-image: url(../images/logo@2x.png);
    }

    .iphone {
        background-size: 387px 803px;
        background-image: url(../images/iphone@2x.jpg);
    }

    .app_store_button {
        background-size: 267px 92px;
        background-image: url(../images/app_store_button@2x.png);
    }
}

/* ------------------ END RETINA ------------------ */

/* ----------------- END MAIN CSS ----------------- */
